:root {
  --primary-text-collor: #212121;
  --secondary-text-collor: #757575;
  --white-text-collor: #ffffff;
  --accent-text-collor: #2196f3;
  --sec-bgc-color: #f5f4fa;
  --black-text-collor: #000000;
  --accent-btn-collor: #188ce8;
  --conteiner-bgc-collor: #eeeeee;
  --footer-bgc-collor: #2f303a;
  --white-bgc-collor: #ffffff;
  --high-line-collor: #ececec;
  --icon-normal-color: #afb1b8;
  --icon-accent-color: #2196f3;
  --header-height: 80px;
  --timing-action: cubic-bezier(0, 1, 0.88, 0.03);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

html {
  box-sizing: border-box;
}

body {
  padding-top: var(--header-height);
  background-color: var(--white-text-collor);
  color: var(--primary-text-collor);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

input,
textarea {
  cursor: pointer;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title,
.clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-collor);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: flex;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}
.logo:hover, .logo:focus {
  color: var(--accent-text-collor);
}

.wht {
  color: var(--white-text-collor);
}

.blck {
  color: var(--black-text-collor);
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}

.nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-collor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: var(--accent-text-collor);
}

.nav-link.current {
  color: var(--accent-text-collor);
  position: relative;
}
.nav-link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-text-collor);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 101;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-title {
  display: flex;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.backdrop-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: currentColor;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:hover > .backdrop-icon {
  fill: var(--icon-accent-color);
}
.form-field:focus-within > .backdrop-icon {
  fill: var(--icon-accent-color);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--white-bgc-collor);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.modal-text {
  position: absolute;
  overflow: auto;
}

.modal-btn {
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-collor);
  background-color: var(--icon-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-btn-collor);
}

.form {
  padding: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  color: var(--secondary-text-collor);
}

.form-field input {
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input:hover, .form-field input:focus {
  border-color: var(--accent-text-collor);
}
.form-field input[type=checkbox] {
  margin: 7px;
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
textarea:focus {
  outline-color: var(--icon-accent-color);
}
textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-active {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-active:hover {
  border-color: var(--icon-accent-color);
}

.policy {
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

.policy-link {
  color: var(--accent-text-collor);
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-label > span {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-left: 12px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label > span {
  background-color: var(--icon-accent-color);
  border-color: transparent;
  fill: var(--white-bgc-collor);
}
.checkbox-input:hover + .checkbox-label > span, .checkbox-input:focus + .checkbox-label > span {
  border-color: var(--icon-accent-color);
}

.check-icon {
  width: 16px;
  height: 15px;
}

.btn-esc {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--white-bgc-collor);
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-esc:hover > .close-icon, .btn-esc:focus > .close-icon {
  fill: var(--icon-accent-color);
}

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  min-height: var(--header-height);
  background-color: var(--white-bgc-collor);
  border-bottom: 1px solid var(--high-line-collor);
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.thumb-header {
  position: relative;
}

.header-contact-list {
  margin-left: auto;
  display: flex;
}

.header-contact-list a {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--secondary-text-collor);
  text-decoration: none;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-list a:hover, .header-contact-list a:focus {
  color: var(--accent-text-collor);
}

.header-mail-item {
  display: flex;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.header-mail-item:hover .mail-icon, .header-mail-item:focus .mail-icon {
  fill: var(--accent-btn-collor);
}

.header-phone-item {
  display: flex;
  margin-left: 50px;
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.header-phone-item:hover .phone-icon, .header-phone-item:focus .phone-icon {
  fill: var(--accent-btn-collor);
}

.page-hero {
  background-color: var(--footer-bgc-collor);
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-collor);
  width: 696px;
  margin: 0 auto;
}

.btn-hero {
  margin: 0 auto;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero:hover, .btn-hero:focus {
  color: var(--white-text-collor);
  background-color: var(--accent-btn-collor);
}

.feat-list {
  display: flex;
}
.feat-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feat-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

.feat-list > .item {
  display: inline-block;
}
.feat-list > .item:not(:last-child) {
  margin-right: 30px;
}
.feat-list > .item p {
  margin-top: 10px;
}

.feat-icon-list {
  display: flex;
}

.feat-icon-box {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--sec-bgc-color);
}

.feat-icon {
  height: 70px;
  width: 70px;
}

.production {
  padding-top: 0;
}

.production__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.production__list {
  display: flex;
}
.production__list li {
  display: inline-block;
  position: relative;
  z-index: 10;
}

.production__item:not(:first-child) {
  margin-left: 30px;
}

.production__thumb p {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: var(--white-text-collor);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--sec-bgc-color);
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  background-color: var(--sec-bgc-color);
}
.team-list .item {
  align-items: center;
  background-color: var(--white-text-collor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .item:not(:first-child) {
  margin-left: 30px;
}
.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

.team-list-element {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-list-element h3 {
  margin-bottom: 10px;
}

.team-smm-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.smm-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--icon-normal-color);
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smm-link:hover, .smm-link:focus {
  background-color: var(--accent-btn-collor);
  color: var(--white-bgc-collor);
}

.icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}
.icon:hover, .icon:focus {
  fill: var(--white-text-collor);
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-normal-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-normal-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-btn-collor);
  color: var(--accent-btn-collor);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-bgc-collor);
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.logo-icon {
  width: 145px;
  height: 31px;
}

.adress__box {
  margin-right: 70px;
}

.adress {
  display: inline-block;
  margin-top: 20px;
}

.adress__list a {
  color: var(--secondary-text-collor);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__list a:hover, .adress__list a:focus {
  color: var(--white-text-collor);
}

.adress__list > li:not(:last-child) {
  margin-bottom: 9px;
}

.adress__item a {
  color: var(--white-text-collor);
}
.adress__item a:hover, .adress__item a:focus {
  color: var(--secondary-text-collor);
}

.smm__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-collor);
}

.smm__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.smm__link-footer {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--icon-normal-color);
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smm__link-footer:hover, .smm__link-footer:focus {
  background-color: var(--accent-btn-collor);
  color: var(--white-bgc-collor);
}

.bgc__icon-footer {
  display: inline-flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-footer {
  height: 20px;
  width: 20px;
  fill: var(--white-text-collor);
}

.subscribe__box {
  margin-left: auto;
}

.subscribe__box label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-collor);
}

.subscribe__box input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  color: var(--white-text-collor);
  background-color: var(--footer-bgc-collor);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__box {
  display: flex;
}

.subscribe__text {
  display: block;
}

.subscribe__input {
  cursor: pointer;
}

.btn__subscribe {
  display: flex;
  position: relative;
  padding: 10px 62px 10px 28px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--white-text-collor);
  background-color: var(--accent-btn-collor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__subscribe:hover, .btn__subscribe:focus {
  background-color: var(--icon-accent-color);
}

.icon-subscribe {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translatey(-50%);
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */