:root {
  --primary-text-collor: #212121;
  --secondary-text-collor: #757575;
  --white-text-collor: #ffffff;
  --accent-text-collor: #2196f3;
  --sec-bgc-color: #f5f4fa;
  --black-text-collor: #000000;
  --accent-btn-collor: #188ce8;
  --conteiner-bgc-collor: #eeeeee;
  --footer-bgc-collor: #2f303a;
  --white-bgc-collor: #ffffff;
  --high-line-collor: #ececec;
  --icon-normal-color: #afb1b8;
  --icon-accent-color: #2196f3;
  --gradient-bgc: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --timing-action: cubic-bezier(0, 1, 0.88, 0.03);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.no-scroll {
  overflow: hidden;
}

html {
  box-sizing: border-box;
  width: 100%;
}

body {
  padding-top: var(--header-height);
  background-color: var(--white-text-collor);
  color: var(--primary-text-collor);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

input,
textarea {
  cursor: pointer;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-toggle {
  display: flex;
  position: absolute;
  right: 30px;
  top: 0px;
  background-color: transparent;
  align-items: center;
  padding: 21px 21px;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle:hover .menu-close-icon, .menu-toggle:focus .menu-close-icon {
  fill: var(--accent-text-collor);
}
@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu__top {
  margin-bottom: 100px;
}

.mob-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  background-color: var(--white-bgc-collor);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 11;
  transform: translateX(100%);
  overflow: auto;
}
.mob-menu.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 767px) {
  .mob-menu {
    display: none;
  }
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-collor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--accent-text-collor);
}
@media screen and (min-width: 480px) {
  .mob-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .mob-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .mob-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}

.mob-contact {
  margin-left: auto;
  margin-bottom: 64px;
}

.mob-contact a {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
  align-items: center;
}

.mob-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-collor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-mail:hover, .mob-mail:focus {
  color: var(--accent-text-collor);
}

.mob-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--accent-text-collor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-phone:hover, .mob-phone:focus {
  color: var(--secondary-text-collor);
}

.menu__smm-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  align-items: flex-end;
}

.menu__smm-item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid grey;
}

.menu__smm-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: var(--accent-text-collor);
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__smm-link:hover, .menu__smm-link:focus {
  color: var(--icon-normal-color);
}

.smm__item {
  color: rgba(33, 33, 33, 0.2);
  padding: 0 10px;
}

.contact__list {
  margin-left: auto;
  display: flex;
}
@media screen and (min-width: 768px) {
  .contact__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    flex-direction: row;
    align-items: center;
  }
}

.contact__list a {
  display: flex;
  color: var(--secondary-text-collor);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contact__list a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__list a:hover,
.contact__list a:focus {
  color: var(--accent-text-collor);
}

@media screen and (min-width: 768px) {
  .mail__item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .mail__item {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.mail__item:hover .mail-icon,
.mail__item:focus .mail-icon {
  fill: var(--accent-btn-collor);
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.phone__item:hover .phone-icon,
.phone__item:focus .phone-icon {
  fill: var(--accent-btn-collor);
}

.logo {
  display: flex;
  text-decoration: none;
  font-family: "Raleway";
  line-height: 1.2;
  color: #2196f3;
}
.logo:hover, .logo:focus {
  color: var(--accent-text-collor);
}
@media screen and (max-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.06em;
  }
}

.wht {
  color: var(--white-text-collor);
}

.blck {
  color: var(--black-text-collor);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__list {
  display: flex;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-collor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-text-collor);
}

.nav__link.current {
  color: var(--accent-text-collor);
  position: relative;
}

.nav__link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-text-collor);
}

.btn__hero {
  margin: 0 auto;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__hero:hover, .btn__hero:focus {
  color: var(--white-text-collor);
  background-color: var(--accent-btn-collor);
}
@media screen and (max-width: 767px) {
  .btn__hero {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 768px) {
  .btn__hero {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .btn__hero {
    padding: 10px 32px;
  }
}

.btn__modal {
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-collor);
  background-color: var(--icon-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__modal:hover, .btn__modal:focus {
  background-color: var(--accent-btn-collor);
}

.btn__subscribe {
  display: flex;
  position: relative;
  padding: 10px 62px 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--white-text-collor);
  background-color: var(--accent-btn-collor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__subscribe:hover, .btn__subscribe:focus {
  background-color: var(--icon-accent-color);
}

.btn__filter {
  padding: 6px 22px;
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-collor);
  background: var(--sec-bgc-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn-list .btn__filter:hover, .portfolio__btn-list .btn__filter:focus {
  color: var(--white-text-collor);
  background: var(--accent-btn-collor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn__filter.current {
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
}

@media screen and (max-width: 767px) {
  .smm__box {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .smm__box {
    display: inline-block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .smm__box {
    display: inline-flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
  }
}

.smm__title-footer {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-collor);
}

.smm__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.smm__link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--icon-normal-color);
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smm__link:hover, .smm__link:focus {
  background-color: var(--accent-btn-collor);
  color: var(--white-bgc-collor);
}

.smm__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}
.smm__icon:hover, .smm__icon:focus {
  fill: var(--white-text-collor);
}

.smm__link-footer {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--icon-normal-color);
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smm__link-footer:hover, .smm__link-footer:focus {
  background-color: var(--accent-btn-collor);
  color: var(--white-bgc-collor);
}

.bgc__icon-footer {
  display: inline-flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.smm__icon-footer {
  height: 20px;
  width: 20px;
  fill: var(--white-text-collor);
}

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  min-height: var(--header-height);
  background-color: var(--white-bgc-collor);
  border-bottom: 1px solid var(--high-line-collor);
  z-index: 10000;
}

.menu {
  display: flex;
  width: 100%;
  padding: 0;
  margin-left: 88px;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.header__container {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}

.header__logo {
  display: block;
}
@media screen and (max-width: 767px) {
  .header__logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: 80px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    margin-top: 80px;
    justify-content: center;
  }
}

.portfolio__btn-list {
  gap: 8px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-text-collor);
}
@media screen and (max-width: 480px) {
  .portfolio__btn-list {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__btn-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__btn-list {
    justify-content: center;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
}

.portfolio__item {
  position: relative;
}
@media screen and (max-width: 767px) {
  .portfolio__item {
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.project__info {
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}

.project__info h2 {
  margin-bottom: 4px;
}

.project__title {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-collor);
}

.project__text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

.portfolio__link {
  text-decoration: none;
  display: block;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.portfolio__text-action {
  position: absolute;
  top: 0;
  right: 0;
  padding: 63px 24px;
  overflow: hidden;
  font-size: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-text-collor);
  text-align: left;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__text-action, .portfolio__link:focus .portfolio__text-action {
  transform: translatey(0);
}

.footer {
  width: 100vw;
  background-color: var(--footer-bgc-collor);
}

.footer-top {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer-top {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer-top {
    padding: 0 75px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-top {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    align-items: baseline;
  }
}

.footer__container {
  display: flex;
  margin: 0 auto;
  padding: 60px 15px;
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .footer__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
  }
}

.logo-footer {
  justify-content: center;
}

.adress__box {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .adress__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .adress__box {
    display: inline-block;
  }
}

.adress {
  display: inline-block;
  margin-top: 20px;
}

.adress__list a {
  color: var(--secondary-text-collor);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__list a:hover, .adress__list a:focus {
  color: var(--white-text-collor);
}

.adress__list > li:not(:last-child) {
  margin-bottom: 8px;
}

.adress__street a {
  color: var(--white-text-collor);
}
.adress__street a:hover, .adress__street a:focus {
  color: var(--secondary-text-collor);
}

.subscribe__box {
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .subscribe__box {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__box {
    margin: 0;
  }
}

.subscribe {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .subscribe {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    display: flex;
    align-items: baseline;
    gap: 12px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: block;
  }
}

.subscribe__box label {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-collor);
}
@media screen and (min-width: 1200px) {
  .subscribe__box label {
    text-align: left;
  }
}

.subscribe__input {
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  color: var(--white-text-collor);
  background-color: var(--footer-bgc-collor);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__text {
  display: block;
}

.subscribe__input {
  cursor: pointer;
}

.icon-subscribe {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translatey(-50%);
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=portfolio.css.map */