html {
    box-sizing: border-box;
    width: 100%;
}

body {
    padding-top: var(--header-height);
    background-color: var(--white-text-collor);
    color: var(--primary-text-collor);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}


input,
textarea {
    cursor: pointer;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}