.features__page {
  // @media screen and (min-width: 767px) {
  //     display: none;
  //   }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__list {
  gap: 30px;

  @include mobile {
    display: block;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__title {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--title-text-color);

  @media (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--secondary-text-collor);
}

//   @media (max-width: 480px) {
//     flex-wrap: wrap;
// }

// 
// }

.features__item {
  @include mobile {
    width: 450px;
  }
  @include tablet {
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }

  & p {
    margin-top: 10px;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.features__icon-bgc {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--sec-bgc-color);
}

.features__icon {
  height: 70px;
  width: 70px;
}
