.footer {
    padding: 60px 0;
    background-color: var(--footer-bgc-collor);

    // & .container {
    //     display: flex;
    //     align-items: baseline;
    // }
    @media screen and (min-width: 768px) {
        & .container {
            display: flex;
            align-items: baseline;
          };
      }

    @media screen and (min-width: 1200px) {
        & .container {
            display: flex;
            align-items: baseline;
          };
      }
   
}
.logo-footer {
    justify-content: center;
}

// .logo-icon {
//     width: 145px;
//     height: 31px;
// }

// .footer__logo {
//     display: flex;
//     text-decoration: none;
//     font-family: 'Raleway';
//     font-size: 26px;
//     line-height: 1.2;
//     color: var(--accent-text-collor);

//     &:hover,
//     &:focus {
//         color: var(--accent-text-collor);
//     }
// }

.adress__box {
    // margin-right: 70px
    text-align: center;

    @media screen and (min-width: 768px) {
    display: inline-block;
    }
}

.adress {
    display: inline-block;
    margin-top: 20px;
}


.adress__list a {
    color: var(--secondary-text-collor);
    text-decoration: none;
    font-style: normal;
    @include font (400, 14px, 1.7, 0.03em);
    @include animation-color;
    &:hover,
    &:focus {
        color: var(--white-text-collor);
    }
}

.adress__list>li:not(:last-child) {
    margin-bottom: 8px;
}

.adress__street a {
    color: var(--white-text-collor);
    &:hover,
    &:focus {
        color: var(--secondary-text-collor);
    }
}

// .adress__contact a:hover,
// .adress__contact a:focus {
//     color: var(--white-text-collor);
// }

.subscribe__box {
    margin-top: 60px;
}


.subscribe__box label {
    text-align: center;
    margin-bottom: 20px;
    @include font (700, 14px, 1.1, 0.03em);
    text-transform: uppercase;
    color: var(--white-text-collor);
    
}

.subscribe__input {
    padding: 15px 16px;
    width: 100%;
    height: 50px;
    color: var(--white-text-collor);
    background-color: var(--footer-bgc-collor);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width: 480px) {
    width: 450px;
    }
    @media screen and (min-width: 768px) {
     
    }
    @media screen and (min-width: 1200px) {
           
    }
}

.subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.subscribe__text {
    display: block;
}

.subscribe__input {
    cursor: pointer;
}

.icon-subscribe {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translatey(-50%);

    width: 24px;
    height: 24px;
}