.footer {
  // width: 100vw;
  background-color: var(--footer-bgc-collor);
}

.footer-top {
  display: flex;
  width: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @include tablet {
    padding: 0 75px;
    flex-wrap: wrap;
  }

  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    align-items: baseline;
  }
}

.footer__container {
  display: flex;
  margin: 0 auto;
  padding: 60px 15px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    flex-wrap: wrap;
  }

  @include desktop {
    width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
  }
}

.logo-footer {
  justify-content: center;

  @include desktop {
    justify-content: left;
    }
}

.adress__box {
  text-align: center;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include desktop {
    display: inline-block;
    text-align: left;
  }
}

.adress {
  display: inline-block;
  margin-top: 20px;
}

.adress__list a {
  color: var(--secondary-text-collor);
  text-decoration: none;
  font-style: normal;
  @include font(400, 14px, 1.7, 0.03em);
  @include animation-color;
  &:hover,
  &:focus {
    color: var(--white-text-collor);
  }
}

.adress__list > li:not(:last-child) {
  margin-bottom: 8px;
}

.adress__street a {
  color: var(--white-text-collor);
  &:hover,
  &:focus {
    color: var(--secondary-text-collor);
  }
}

.subscribe__box {
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    margin-top: 60px;
  }

  @include desktop {
    margin: 0;
  }
}

.subscribe {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  @include desktop {
    display: flex;
    align-items: baseline;
    gap: 12px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;

  @include desktop {
    display: block;
  }
}

.subscribe__box label {
  text-align: center;
  margin-bottom: 20px;
  @include font(700, 14px, 1.1, 0.03em);
  text-transform: uppercase;
  color: var(--white-text-collor);

  @include desktop {
    text-align: left;
  }
}

.subscribe__input {
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  color: var(--white-text-collor);
  background-color: var(--footer-bgc-collor);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @include desktop {
    width: 358px;
  }
}

.subscribe__text {
  display: block;
}

.subscribe__input {
  cursor: pointer;
}

.icon-subscribe {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translatey(-50%);

  width: 24px;
  height: 24px;
}
