.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  min-height: var(--header-height);
  background-color: var(--white-bgc-collor);
  border-bottom: 1px solid var(--high-line-collor);
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.thumb-header {
  position: relative;
}

.header-contact-list {
  margin-left: auto;
  display: flex;
}

.header-contact-list a {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--secondary-text-collor);
  text-decoration: none;
  align-items: center;
  @include font(500, 14px, 1.1, 0.02em);
  @include animation-color;
  &:hover,
  &:focus {
    color: var(--accent-text-collor);
  }
}

.header-mail-item {
  display: flex;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  .header-mail-item:hover &,
  .header-mail-item:focus & {
    fill: var(--accent-btn-collor);
  }
}

.header-phone-item {
  display: flex;
  margin-left: 50px;
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  .header-phone-item:hover &,
  .header-phone-item:focus & {
    fill: var(--accent-btn-collor);
  }
}
